

.party-title {
  font-family: Algerian; 
  font-size: 75px; 
  color: gold; 
  text-align: center;
  -webkit-text-stroke: .5px black;
  text-shadow: 1px 1px 15px black;
}
.party-venue {
  font-family: Britannic Bold; 
  font-size: 50px; 
  color: gold; 
  text-align: center;
  -webkit-text-stroke: .5px black;
  text-shadow: 1px 1px 15px black;
}
.party-block {
  font-family: Algerian; 
  font-size: 35px; 
  color: gold; 
  position: absolute; 
  top: 20px; 
  left: 10px;
  -webkit-text-stroke: .3px black;
}
.party-desc {
  font-family: Britannic Bold; 
  font-size: 17px; 
  color: gold; 
  position: absolute; 
  -webkit-text-stroke: .3px black;
  text-shadow: 1px 1px 15px black;
}
.party-map {
  font-family: Algerian; 
  font-size: 25px; 
  color: gold;
  -webkit-text-stroke: .3px black;
  text-shadow: 1px 1px 15px black;
}














































































































